<% @scrollimg.each do |item| %>
  <ul>
    <li clas="flex">
      <span><%= item.title %></span>
      <span><%= item.url %></span>
      <img src="<%=item.url %>" alt="<%= item.title %>">
      <span>
        <%= button_to "删除", scrollimg_path(item), method: :delete %>
      </span>
    </li>
  </ul>
<% end %>
