<%= form_for :scrollimg, url: scrollimgs_path, method: "post" do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
